.venv*
venv
.env
*.pyc
*.swp
*.egg-info
__pycache__
.DS_Store
.vscode

# Directories below are used for storing checkpoints and predictions.
models
reward_model
rewards
runs

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

*.log
*.db
*.pkl
.pytest_cache/
